@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./overlock-v10-latin-regular.woff2') format('woff2'),
       url('./overlock-v10-latin-regular.woff') format('woff');
}